<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App DABM</title>
</head>
<body>
    <p>Esto es un parrafo</p>
    <h1>Titulo</h1>
    <h2>Titulo</h2>
    <h3>Titulo</h3>
    <h4>Titulo</h4>
    <h5>Titulo</h6>
    <h6>Titulo</h6>
    <label>Esto es un label</label>
    <input type="text">
    <input type="password">
    <input type="date">
    <input type="number">
    <input type="email">
    <input type="file">
    <input type="button" value="boton">
    <br>
    <img src="logo.jpg" width="200px" height="200px">
    <table border="1">
        <tr>
            <td>Nombre</td>
            <td>Tipo</td>
        </tr>
        <tr>
            <td>David</td>
            <td>Admin</td>
        </tr>
    </table>
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>
    <ol>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
      </ol>
    <select>
        <option value="1">Lunes</option>
        <option value="2">Martes</option>
        <option value="3">Miercoles</option>
    </select>

</body>
</html>